{% extends 'Blog_Post/base.html' %}

{% block content %}

<h1 style="color:black; display:block;">About Page</h1> <br />
<h2>Collins' Blog is a blog born out of great curiosity to share knowledge with fellow developers, softawre entrepreneurs,
    upcoming developers, students intending to become software entrepreneurs.
    I am on a mission to help a lot of people get themselves fixed in a tech skill.
</h2>

<h1>How it All Started?</h1>
<h2>...2022 was a dream come true. I had nursed the idea of sharing my knowledge to as many persons as possible
    and have been waiting for the appropriate time which seems</h2>

{% endblock %} 